html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  margin: 0;
}
h2 {
  font-family: "Jolly Lodger";
  font-size: 64px;
}

.bright-button {
  all: unset;
  font-family: Honk;
  font-size: 32px;

  &:hover {
    cursor: pointer;
    text-shadow: 10px 10px 10px orange;
  }
}
.input {
  /* all: unset; */
  width: 100%;
  font-size: 32px;
  padding: 20px;
  background-color: orange;
  line-height: 1;
  &:focus {
    box-shadow: 0 0 10px orange;
  }
}
.hidden {
  display: none;
}
/*page header*********************/
.page-header {
  background-color: black;
  color: white;
  font-size: 32px;
  font-weight: bold;
}
.page-nav {
  display: flex;
  justify-content: center;
  column-gap: 64px;
}
.page-nav__item {
}
.page-nav__link {
  all: unset;
  cursor: pointer;
  line-height: 64px;
  border-bottom: 3px solid black;
  padding-bottom: 5px;
  &:link {
    color: white;
  }
  &:visited {
  }
  &:hover {
    text-shadow: 0 0 5px orangered;
  }
  &:active {
    color: yellow;
  }
}
.page-nav__link--active {
  border-bottom: 3px solid orangered;
}
